@{
    ViewBag.Title = "Home Page";
}

<style>
    .myProgress {
        width: 100%;
        background-color: #ddd;
    }

    .myBar {
        width: 5%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
        background-image: url('../Content/images/car.png');
        background-position: right;
        background-repeat: no-repeat;
    }
</style>

<div id="content" ng-controller="HomeController">
    <form ng-submit="submitForm()" name="frmCalculate">
        <div class="row" style="margin-top:15px;" ng-repeat="site in Websites">
            <div class="col-md-2 col-xs-12">
                <input type="text" ng-model="site.Name" value="" />
            </div>
            <div class="col-md-8 col-xs-12">
                <div class="myProgress">
                    <div class="myBar" ng-style="{width: site.CurrentWidth + '%'}" id="myBar{{site.Id}}">
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-xs-12">
                <input type="text" ng-model="site.DisplayResult" value="" />
            </div>
        </div>

        <hr />
        <div>
            <input type="submit" value="Run">
        </div>
    </form>
</div>

@section JavaScript{
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/ControllersNg/HomeController.js"></script>
}